footer {
	margin-top: 5% 5%;
	background-color: black;
	background-position: center;
	background-size: cover;
	display: flex;
}
.footer {
	display: flex;
}
.footer-1 {
	flex: 1;
	margin-left: 5rem;
	@include respond(tap-land) {
		margin-left: 3rem;
	}

	@include respond(tap-port) {
		margin-left: 2rem;
	}
}
.footer-1 p {
	color: var(--maincolor);
}
.footer-2 {
	flex: 1;
	margin-top: 80px;
	margin-left: auto;
}
.footer-2 h2 {
	margin-left: 120px;
	color: white;

	@include respond(tap-land) {
		margin-left: 80px;
	}

	@include respond(phone) {
		margin-left: 30px;
		font-size: 15px;
	}
}
.footer-2 h3 {
	margin-left: 120px;
	color: white;

	@include respond(tap-land) {
		margin-left: 80px;
	}

	@include respond(tap-port) {
		margin-left: 70px;
	}

	@include respond(phone) {
		margin-left: 30px;
		font-size: 15px;
	}
}
.footer-2 .info {
	margin-left: 130px;
	margin-top: 40px;
	list-style-type: none;

	@include respond(tap-land) {
		margin-left: 80px;
	}

	@include respond(phone) {
		margin-left: 30px;
	}
}
.footer-2 .info li {
	margin-top: 10px;
}
.footer-2 .info li a {
	color: var(--maincolor);
	text-decoration: none;
}
.footer-2 .info li a:hover {
	color: white;
}
.footer-1 img {
	margin: 50px 0px;

	@include respond(tap-port) {
		margin: 10px 0px;
	}
}

.footer-2 input {
	outline: 0;
	border-width: 0 0 2px;
	border-color: white;
	margin-left: 120px;
	margin-top: 80px;
	list-style-type: none;
	background-color: black;
	width: 150px;

	@include respond(tap-land) {
		margin-left: 80px;
	}

	@include respond(tap-port) {
		margin-left: 70px;
		width: 100px;
	}

	@include respond(phone) {
		margin-left: 30px;
		width: 90px;
	}
}
.footer-2 input:focus {
	border-color: var(--maincolor);
	color: white;
}
.footer-2 .sub {
	margin-left: 0px;
	margin-top: 85px;
	position: absolute;
	color: white;
}

.footer-2 input::placeholder {
	color: var(--primarycolor);

	@include respond(phone) {
		font-size: 12px;
	}
}

.footer-2 .social {
	margin-left: 118px;
	margin-top: 100px;

	@include respond(tap-land) {
		margin-left: 80px;
	}

	@include respond(tap-port) {
		margin-left: 70px;
	}
	@include respond(phone) {
		margin-left: 30px;
		font-size: 8px;
	}
}
.footer-2 .social .so {
	margin: 0 4px;
	color: white;
}
