.section-header {
	min-height: calc(100vh-60px);
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding-bottom: 8%;
	background-image: url(/image/background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 42rem;
}

////////////////// ////////////

.section-products {
	padding: 4rem 0;
}

/////////////////////////////////
.section-discount {
	display: grid;
	display: flex;
	margin-bottom: 50px;
	margin-top: 50px;
}
