.section-header {
	min-height: calc(100vh-60px);
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding-bottom: 8%;
	background-image: url(/image/background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 42rem;
}

////////////////// ////////////

.section-products {
	padding: 4rem 0;
}

/////////////////////////////////
.section-discount {
	display: grid;
	display: flex;
	margin: 50px;
}

////////////////////////////////
.section-sprites {
	display: flex;
	margin: 5rem;
}

///////////////////////////
.section-product2 {
	text-align: center;
	margin: 5rem;
}
//////////////////////////////
.section-planmenu {
	background-color: #60a9ff;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding-left: 19%;
	padding-top: 1%;
}
///////////////////////////////
.section-contact-us {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/image/background2.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
}
////////////////////////////
